@media only screen and (min-width:768px) and (max-width:1024px) {
	
* {	
 margin:0px;
 padding:0px;
 
}

body { width: auto; }

.container { margin:0px auto; width:100%; padding:0px; display:inline-block; text-align:center;}
.top-box {margin:0px 1% 0px 1%; width:31.33%; }
.top-box .tag-btn ul li  { margin:0px 0px 5px 0px; float:none; width:200px; display:inline-block; }

}


@media only screen and (min-width:480px) and (max-width:767px) { 

.container { margin:0px; width:100%; padding:0px; display:inline-block; text-align:center;}
.top-box {margin:0px 0px 48px 0px; width:302px; float:none; display:inline-block; }

}

@media only screen and (min-width:320px) and (max-width:479px) { 

.container { margin:0px; width:100%; padding:0px; display:inline-block; text-align:center;}
.top-box {margin:0px 0px 48px 0px; width:302px; float:none; display:inline-block; }

.popup-box  { width:100%; }


.popup-box .tag-btn ul  { width:100%; float:none; display:inline-block; text-align:center;}
.popup-box .tag-btn ul li  { float:none; display:inline-block; }
.popup-box .addtag-ctn input[type=text]  {width:85%;}
.popup-box .np-ctn ul  {width:100%; float:none; display:inline-block; text-align:center;}



}